.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.display {
	position: relative;
	width: 1440px;
	height: 900px;
	background: #313131;
}

.board {
	width: 406px;
	height: 69.5vh;
	left: 419px;
	top: 94px;
	background: #c4c4c4;
	position: relative;
	padding: 40px;
}

.rightPanel {
	position: absolute;
	width: 173px;
	height: 80vh;
	left: 924px;
	top: 94px;

	background: #c4c4c4;
}
.nextBloc {
	position: absolute;
	width: 173px;
	height: 109px;
	left: 0px;
	top: 18px;

	background: #989898;
}

.nextPiece {
	position: absolute;
	width: 74px;
	height: 67px;
	left: 49px;
	top: 25px;

	background: #c4c4c4;
}

.nextText {
	position: absolute;
	width: 36px;
	height: 14px;
	left: 69px;
	top: 7px;
	margin: 0;

	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height */

	text-align: center;

	color: #000000;
}

.score {
	position: absolute;
	width: 45px;
	height: 28px;
	left: 65px;
	top: 138px;
	margin: 0;

	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	text-align: center;

	color: #000000;
}

.line {
	bottom: 0;
	margin: auto;
	width: 80%;
	height: 4.8%;
	background-color: lightgrey;
}

.lineBloc {
	height: 100%;
	/* width: 6.288%; */
}

.commands {
	height: 90px;
	width: 115px;
	position: absolute;
	background: lightgrey;
	left: 30vh;
	top: 10vh;
}

.commands > p {
	font-size: x-small;
    text-align: center;
}

.v9_11 {
	width: 100%;
	height: 900px;
	background: rgba(48,48,48,1);
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .v9_12 {
	width: 908px;
	height: 325px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 288px;
	left: 266px;
	overflow: hidden;
  }
  .v11_25 {
	width: 908px;
	height: 240px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 85px;
	left: 0px;
	overflow: hidden;
  }
  .v9_22 {
	width: 310px;
	height: 184px;
	background: rgba(151,151,151,1);
	opacity: 1;
	position: absolute;
	top: 28px;
	left: 71px;
	overflow: hidden;
  }
  .v11_5 {
	width: 186px;
	height: 25px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 139px;
	left: 62px;
	overflow: hidden;
  }
  .v11_4 {
	width: 96px;
	height: 99px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 20px;
	left: 107px;
	overflow: hidden;
  }
  .v11_8 {
	width: 25px;
	height: 16px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 62px;
	left: 223px;
	border: 1px solid rgba(0,0,0,1);
	overflow: hidden;
  }
  .v11_113 {
	width: 25px;
	height: 16px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 62px;
	left: 62px;
	border: 1px solid rgba(0,0,0,1);
	overflow: hidden;
  }
  .name {
	color: #fff;
  }
  .v11_26 {
	width: 310px;
	height: 184px;
	background: rgba(151,151,151,1);
	opacity: 1;
	position: absolute;
	top: 28px;
	left: 527px;
	overflow: hidden;
  }
  .v11_32 {
	width: 256px;
	height: 18px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 22px;
	left: 27px;
	overflow: hidden;
  }
  .v11_37 {
	width: 247px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 3px;
	left: 4px;
	font-family: Roboto;
	font-weight: Regular;
	font-size: 10px;
	opacity: 1;
	text-align: left;
  }
  .v11_33 {
	width: 142px;
	height: 47px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 60px;
	left: 84px;
	overflow: hidden;
  }
  .v11_38 {
	width: 141px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 0px;
	left: 1px;
	font-family: Roboto;
	font-weight: Black;
	font-size: 18px;
	opacity: 1;
	text-align: center;
  }
  .v11_34 {
	width: 166px;
	height: 47px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 117px;
	left: 72px;
	overflow: hidden;
  }
  .v11_110 {
	width: 160px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 0px;
	left: 6px;
	font-family: Roboto;
	font-weight: Black;
	font-size: 18px;
	opacity: 1;
	text-align: center;
  }
  .v11_1 {
	width: 162px;
	height: 37px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 67px;
	left: 381px;
	overflow: hidden;
  }
  .v11_2 {
	width: 162px;
	height: 37px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 381px;
	overflow: hidden;
  }
  .v11_9 {
	width: 910px;
	height: 75px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 2px;
	overflow: hidden;
  }
  .v10_5 {
	width: 907px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 0px;
	left: 3px;
	font-size: 30px;
	opacity: 1;
	text-align: center;
  }
  
  .v13_2 {
	width: 100%;
	height: 900px;
	background: rgba(48,48,48,1);
	opacity: 1;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
  }
  .v13_4 {
	width: 908px;
	height: 401px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 292px;
	left: 266px;
	overflow: hidden;
  }
  .v14_4 {
	width: 587px;
	height: 341px;
	background: rgba(151,151,151,1);
	opacity: 1;
	position: absolute;
	top: 30px;
	left: 291px;
	overflow: hidden;
  }
  .v14_5 {
	width: 120px;
	height: 106px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 20px;
	left: 20px;
	overflow: hidden;
  }
  .v14_10 {
	width: 120px;
	height: 106px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 146px;
	left: 20px;
	overflow: hidden;
  }
  .v14_6 {
	width: 120px;
	height: 106px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 20px;
	left: 162px;
	overflow: hidden;
  }
  .v14_11 {
	width: 120px;
	height: 106px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 146px;
	left: 162px;
	overflow: hidden;
  }
  .v14_14 {
	width: 283px;
	height: 49px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 272px;
	left: 152px;
	overflow: hidden;
  }
  .v14_7 {
	width: 120px;
	height: 106px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 20px;
	left: 305px;
	overflow: hidden;
  }
  .v14_12 {
	width: 120px;
	height: 106px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 146px;
	left: 305px;
	overflow: hidden;
  }
  .v14_8 {
	width: 120px;
	height: 106px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 20px;
	left: 447px;
	overflow: hidden;
  }
  .v14_13 {
	width: 120px;
	height: 106px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 146px;
	left: 447px;
	overflow: hidden;
  }
  .name {
	color: #fff;
  }
  .v14_3 {
	width: 201px;
	height: 341px;
	background: rgba(151,151,151,1);
	opacity: 1;
	position: absolute;
	top: 30px;
	left: 30px;
	overflow: hidden;
  }
  .v14_17 {
	width: 910px;
	height: 75px;
	background: rgba(196,196,196,1);
	opacity: 1;
	position: absolute;
	top: 207px;
	left: 264px;
	overflow: hidden;
  }
  .v14_18 {
	width: 907px;
	color: rgba(0,0,0,1);
	position: absolute;
	top: 0px;
	left: 3px;
	font-size: 30px;
	opacity: 1;
	text-align: center;
  }
  